h1 {
  color: rgb(3, 3, 3);
  background-color: blanchedalmond;
  font-size: 30px;
}
p {
  color: rgb(3, 3, 3);
  background-color: blanchedalmond;
  font-size: 20px;
}
.hn1 {
  color: rgb(3, 3, 3);
  background-color: blanchedalmond;
  font-size: 13px;
  font-family: "verdana", Times, serif;
}
.hn2 {
  color: rgb(3, 3, 3);
  background-color: blanchedalmond;
  font-size: 13px;
  font-family: "tahoma", Times, serif;
}
.hn3 {
  color: rgb(3, 3, 3);
  background-color: blanchedalmond;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
.hn4 {
  color: rgb(255, 2, 2);
  background-color: blanchedalmond;
  font-size: 13px;
  font-family: "verdana", Times, serif;
}
ul {
  color: rgb(206, 12, 12);
  background-color: blanchedalmond;
  font-size: 13px;
  font-family: "verdana", Times, serif;
}
